
.wrap{
    width: 1080px;
    margin: auto;
    border:1px solid #eee;
}

.header img{
    width: 100%;
}

.container .item{
    font-size: 25px;
    padding-top: 25px;
    display: flex;
    justify-content:space-between;
}

.container img{
    width: 10%;
    height: 10%;
    border-radius:50%;
    padding-left:10px;
    padding-right:10px;
    padding-top: -30px;
}

